
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 298.8rem;
}.loginsignup-VN7 {
  width: 100%;
  height: 180.7rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.loginsignup-VN7 .about-us-pQP {
  box-sizing: border-box;
  padding: 201.759rem 0rem 0rem 0rem;
  width: 298.8rem;
  height: 223.5rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: #ffffff;
}
.loginsignup-VN7 .about-us-pQP .futer-sNf {
  box-sizing: border-box;
  padding: 4.905rem 14.997rem 2.985rem 14.997rem;
  width: 303.6rem;
  height: 100%;
  background-color: #000000;
}
.loginsignup-VN7 .about-us-pQP .futer-sNf .auto-group-hnuv-CA3 {
  margin-bottom: 1.7748rem;
  width: 257.9478rem;
  height: 9.6758rem;
  position: relative;
}
.loginsignup-VN7 .about-us-pQP .futer-sNf .auto-group-hnuv-CA3 .community-gL7 {
  width: 14.6rem;
  height: 2.4rem;
  position: absolute;
  left: 163.917rem;
  top: 0;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.036rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.loginsignup-VN7 .about-us-pQP .futer-sNf .auto-group-hnuv-CA3 .featured-artists-the-portal-live-events-mcT {
  width: 15.2rem;
  height: 7.2rem;
  position: absolute;
  left: 163.917rem;
  top: 2.4758rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.03rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.loginsignup-VN7 .about-us-pQP .futer-sNf .auto-group-hnuv-CA3 .company-r87 {
  width: 12.1rem;
  height: 2.4rem;
  position: absolute;
  left: 197.0604rem;
  top: 0;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.036rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.loginsignup-VN7 .about-us-pQP .futer-sNf .auto-group-hnuv-CA3 .about-us-contact-us-history-Maf {
  width: 10.7rem;
  height: 7.2rem;
  position: absolute;
  left: 197.0604rem;
  top: 2.4758rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.03rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.loginsignup-VN7 .about-us-pQP .futer-sNf .auto-group-hnuv-CA3 .ktmotors-rGX {
  width: 15.6rem;
  height: 4.8rem;
  position: absolute;
  left: 10.5757rem;
  top: 0.4333rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.loginsignup-VN7 .about-us-pQP .futer-sNf .auto-group-hnuv-CA3 .rectangle-xqM {
  width: 257.9478rem;
  height: 0.1857rem;
  position: absolute;
  left: 0;
  top: 8.7891rem;
  background-color: #ff7a00;
}
.loginsignup-VN7 .about-us-pQP .futer-sNf .photo-inc-2019-we-love-our-users-UYo {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.036rem;
  color: rgba(255, 255, 255, 0.8000000119);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.loginsignup-VN7 .group-2254-ii3 {
  width: 153.9001rem;
  height: 92.1342rem;
  position: absolute;
  left: 72.4rem;
  top: 54.0179rem;
}
.loginsignup-VN7 .group-2254-ii3 .login-qXm {
  width: 9.3rem;
  height: 4.8rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: Gilroy, 'Source Sans Pro';
  white-space: nowrap;
}
.loginsignup-VN7 .group-2254-ii3 .or-continue-with-LzK {
  width: 9.6rem;
  height: 1.8rem;
  position: absolute;
  left: 60.5809rem;
  top: 68.6154rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Gilroy, 'Source Sans Pro';
  white-space: nowrap;
}
.loginsignup-VN7 .group-2254-ii3 .dont-have-an-account-yet-FLb {
  width: 15.7rem;
  height: 1.8rem;
  position: absolute;
  left: 26.9248rem;
  top: 90.249rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Gilroy, 'Source Sans Pro';
  white-space: nowrap;
}
.loginsignup-VN7 .group-2254-ii3 .register-for-free-YKh {
  width: 9.6rem;
  height: 1.8rem;
  position: absolute;
  left: 82.9162rem;
  top: 90.3342rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2575;
  color: #000000;
  font-family: Gilroy, 'Source Sans Pro';
  white-space: nowrap;
}
.loginsignup-VN7 .group-2254-ii3 .rectangle-1383-edd {
  width: 152.9821rem;
  height: 8.5172rem;
  position: absolute;
  left: 0.9179rem;
  top: 54.1844rem;
  background-color: #003465;
  border-radius: 1rem;
}
.loginsignup-VN7 .group-2254-ii3 .sign-in-NZd {
  width: 6rem;
  height: 2.6rem;
  position: absolute;
  left: 67.6182rem;
  top: 57.143rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: Gilroy, 'Source Sans Pro';
  white-space: nowrap;
}
.loginsignup-VN7 .group-2254-ii3 .group-2253-5U3 {
  box-sizing: border-box;
  padding: 2.214rem 19.276rem 2.214rem 19.276rem;
  width: 45.8946rem;
  height: 8.5172rem;
  position: absolute;
  left: 0.9179rem;
  top: 75.8181rem;
  border: solid 0.1rem #bcbec0;
  background-color: #ffffff;
  border-radius: 1rem;
}
.loginsignup-VN7 .group-2254-ii3 .group-2253-5U3 .flat-color-icons-google-n7Z {
  width: 7.3431rem;
  height: 4.0882rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 4rem;
}
.loginsignup-VN7 .group-2254-ii3 .group-2252-GoR {
  box-sizing: border-box;
  padding: 2.214rem 19.276rem 2.214rem 19.276rem;
  width: 45.8946rem;
  height: 8.5172rem;
  position: absolute;
  left: 54.4615rem;
  top: 75.8181rem;
  border: solid 0.1rem #bcbec0;
  background-color: #ffffff;
  border-radius: 1rem;
}
.loginsignup-VN7 .group-2254-ii3 .group-2252-GoR .akar-icons-github-fill-Mps {
  width: 7.3431rem;
  height: 4.0882rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 4rem;
}
.loginsignup-VN7 .group-2254-ii3 .group-2250-Ds5 {
  width: 152.9821rem;
  height: 35.2522rem;
  position: absolute;
  left: 0;
  top: 11.3854rem;
}
.loginsignup-VN7 .group-2254-ii3 .group-2250-Ds5 .rectangle-1381-xJs {
  width: 152.9821rem;
  height: 8.5172rem;
  position: absolute;
  left: 0;
  top: 3.7903rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
}
.loginsignup-VN7 .group-2254-ii3 .group-2250-Ds5 .email-fUB {
  width: 4.3rem;
  height: 2.3rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gilroy, 'Source Sans Pro';
  white-space: nowrap;
}
.loginsignup-VN7 .group-2254-ii3 .group-2250-Ds5 .rectangle-1382-BhR {
  width: 152.9821rem;
  height: 8.5172rem;
  position: absolute;
  left: 0;
  top: 21.8468rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
}
.loginsignup-VN7 .group-2254-ii3 .group-2250-Ds5 .password-6Jb {
  width: 7.3rem;
  height: 2.3rem;
  position: absolute;
  left: 0;
  top: 18.0564rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gilroy, 'Source Sans Pro';
  white-space: nowrap;
}
.loginsignup-VN7 .group-2254-ii3 .group-2250-Ds5 .usernamegmailcom-cXq {
  width: 13.2rem;
  height: 1.8rem;
  position: absolute;
  left: 7.0372rem;
  top: 7.1489rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Gilroy, 'Source Sans Pro';
  white-space: nowrap;
}
.loginsignup-VN7 .group-2254-ii3 .group-2250-Ds5 .password-ias {
  width: 5.7rem;
  height: 1.8rem;
  position: absolute;
  left: 7.0372rem;
  top: 25.2053rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Gilroy, 'Source Sans Pro';
  white-space: nowrap;
}
.loginsignup-VN7 .group-2254-ii3 .group-2250-Ds5 .forgot-password-dhq {
  width: 8.9rem;
  height: 1.6rem;
  position: absolute;
  left: 0;
  top: 33.6522rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Gilroy, 'Source Sans Pro';
  white-space: nowrap;
}
.loginsignup-VN7 .group-2254-ii3 .group-2250-Ds5 .clarity-eye-hide-line-YZu {
  width: 4.8954rem;
  height: 2.7255rem;
  position: absolute;
  left: 141.6614rem;
  top: 24.7426rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 4rem;
}
.loginsignup-VN7 .group-2254-ii3 .group-2251-sMH {
  box-sizing: border-box;
  padding: 2.214rem 19.276rem 2.214rem 19.275rem;
  width: 45.8946rem;
  height: 8.5172rem;
  position: absolute;
  left: 108.0055rem;
  top: 75.8181rem;
  border: solid 0.1rem #bcbec0;
  background-color: #ffffff;
  border-radius: 1rem;
}
.loginsignup-VN7 .group-2254-ii3 .group-2251-sMH .bi-facebook-Zzo {
  width: 7.3441rem;
  height: 4.0888rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 4rem;
}
